name: cleanup-renovate-prs
permissions:
  pull-requests: write
on:
  workflow_dispatch:
    inputs:
      force_push:
        description: 'Force recreation of release branches from min version'
        required: true
        type: boolean
        default: false
  schedule:
    - cron: "00 12 * * 1-5" # “At noon on week day.” https://crontab.guru/#30_10_*_*_1
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      # GH cli is already pre-install, see https://docs.github.com/en/actions/using-workflows/using-github-cli-in-workflows
      - name: delete-abandoned-renovate-prs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./cleanup-renovate-PRs.bash

