name: create-PRs-based-on-release-branches

permissions:
  contents: write # allow git push to repo and the github release and its artefact
  pull-requests: write

on:
  workflow_dispatch:

  create:
    branches:
      - release-[0-9]+.[0-9]+ # Only select k3s base branches, not renovate one
      # See https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
      # *: Matches zero or more characters, but does not match the / character. For example, Octo* matches Octocat.
      # **: Matches zero or more of any character.

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      # GH cli is already pre-install, see https://docs.github.com/en/actions/using-workflows/using-github-cli-in-workflows

      - name: Install yq cli
        #See https://github.com/marketplace/actions/install-a-binary-from-github-releases
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
        with:
          repo: mikefarah/yq
          tag: v4.49.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # reduce potential rate limiting

      - name: create-missing-PRs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # configure git
          git config --global user.name "workflows/k3s-boshrelease/create-PRs-based-on-release-branches"
          git config --global user.email "<>"
          git config --global --add safe.directory /github/workspace
          ./create-missing-PR.bash

